[submodule "CSlibraries-extern/DimLVEvent"]
	path = CSlibraries-extern/DimLVEvent
	url = https://github.com/HB-GSI/DimLVEvent.git

[submodule "CSClass/CS_Core"]
	
	path = CSClass/CS_Core

	url = https://github.com/DN-GSI/CS_Core.git
[submodule "CSClass/CS_DigitalIO"]
	path = CSClass/CS_DigitalIO
	url = https://github.com/DN-GSI/CS_DigitalIO.git
[submodule "CSClass/CS_Motion"]
	path = CSClass/CS_Motion
	url = https://github.com/DN-GSI/CS_Motion.git
[submodule "CSClass/CS_PHELIX/PH_Basics"]
	path = CSClass/CS_PHELIX/PH_Basics
	url = https://github.com/SG-GSI/PH_Basics.git
[submodule "CSClass/CS_PHELIX/PH_Classes"]
	path = CSClass/CS_PHELIX/PH_Classes
	url = https://github.com/SG-GSI/PH_Classes.git
[submodule "CSClass/CS_PHELIX/PH_Devices"]
	path = CSClass/CS_PHELIX/PH_Devices
	url = https://github.com/SG-GSI/PH_Devices.git
[submodule "CSClass/CS_PHELIX/PH_Information"]
	path = CSClass/CS_PHELIX/PH_Information
	url = https://github.com/SG-GSI/PH_Information.git
[submodule "CSClass/CS_PHELIX/PH_Motion"]
	path = CSClass/CS_PHELIX/PH_Motion
	url = https://github.com/SG-GSI/PH_Motion.git
[submodule "CSClass/CS_PHELIX/PH_PowerUnits"]
	path = CSClass/CS_PHELIX/PH_PowerUnits
	url = https://github.com/SG-GSI/PH_PowerUnits.git
[submodule "CSClass/CS_PHELIX/PH_Vision"]
	path = CSClass/CS_PHELIX/PH_Vision
	url = https://github.com/SG-GSI/PH_Vision.git
[submodule "CSClass/CS_PHELIX/PHELIX"]
	path = CSClass/CS_PHELIX/PHELIX
	url = https://github.com/SG-GSI/PHELIX.git
[submodule "CSClass/CS_PHELIX/PH_Documentation"]
	path = CSClass/CS_PHELIX/PH_Documentation
	url = https://github.com/SG-GSI/PH_Documentation.git
[submodule "instr.lib/AGCxxx"]
	path = instr.lib/AGCxxx
	url = https://github.com/SG-GSI/AGCxxx.git
[submodule "instr.lib/Gentec-M-Link"]
	path = instr.lib/Gentec-M-Link
	url = https://github.com/SG-GSI/Gentec-M-Link.git
[submodule "instr.lib/gentec-SOLO-PE"]
	path = instr.lib/gentec-SOLO-PE
	url = https://github.com/SG-GSI/gentec-SOLO-PE.git
[submodule "instr.lib/Sixpack"]
	path = instr.lib/Sixpack
	url = https://github.com/SG-GSI/Sixpack.git
[submodule "instr.lib/SRDG645"]
	path = instr.lib/SRDG645
	url = https://github.com/SG-GSI/SRDG645.git
[submodule "instr.lib/Beckhoff"]
	path = instr.lib/Beckhoff
	url = https://DN-GSI@bitbucket.org/DN-GSI/beckhoff.git
[submodule "instr.lib/NewFocusPico"]
	path = instr.lib/NewFocusPico
	url = https://DN-GSI@bitbucket.org/DN-GSI/newfocuspico.git
[submodule "instr.lib/BNC555"]
	path = instr.lib/BNC555
	url = https://DN-GSI@bitbucket.org/DN-GSI/bnc555.git
[submodule "instr.lib/OceanOpticsSpectrometer"]
	path = instr.lib/OceanOpticsSpectrometer
	url = https://DN-GSI@bitbucket.org/DN-GSI/oceanopticsspectrometer.git
[submodule "instr.lib/SRDG535"]
	path = instr.lib/SRDG535
	url = https://DN-GSI@bitbucket.org/DN-GSI/srdg535.git
[submodule "instr.lib/Tektronix7000Series"]
	path = instr.lib/Tektronix7000Series
	url = https://DN-GSI@bitbucket.org/DN-GSI/tektronix7000series.git
[submodule "instr.lib/TKDS3032-PHELIX"]
	path = instr.lib/TKDS3032-PHELIX
	url = https://DN-GSI@bitbucket.org/DN-GSI/tkds3032-phelix.git
[submodule "instr.lib/VCLLV-LabVIEW-Hamamatsu"]
	path = instr.lib/VCLLV-LabVIEW-Hamamatsu
	url = https://DN-GSI@bitbucket.org/DN-GSI/vcllv-labview-hamamatsu.git
